.footer-container  {
    background-image: url("https://cdn.hipwallpaper.com/i/28/85/GvAcn9.jpg");
    color: #cbcbcb;
    font-family: Muli, sans-serif;
    height: 21em;
    padding: 2em 5em 2em 5em;
}
.foot-container {
    display: flex;
    margin-top: 20px;
}
h4  {
    color: #7BC8EB;
    font-size: 17px;
    font-weight: 400;
}
svg {
    width: 22px!important;
    height: 22px!important;
    cursor: pointer;
    margin-right: 10px;
}
.content ul {
    display: flex;
    justify-content:space-around;
    margin-top: 0;
}
ul li {
    list-style-type: none;
    display: flex;
    color: #7BC8EB;
    margin-top: 15px;
}
ul li a {
    text-decoration:none;
    color: #cbcbcb;
}
ul li a:hover   {
    color: #7BC8EB;;
}
.content    {
    border-top: 1px solid #7BC8EB;
    margin-top: 30px;
}
.content a {
    text-decoration: none;
    color: #7BC8EB;
  
}
.content a:hover    {
    color: aliceblue;
}
.details {
    display: flex;
    margin-left: 35em;
}
.details ul {
    padding: 0;
}
.details div    {
    margin-left: 4em;
    width: 150px;
}
.newsletter p{
    width: 20rem;
    line-height: 1.5;
}
.register-for-newsletter {
    margin-left: 0!important;
    margin-top: 20px;
}
#subscribe  {
    width: 15em;
    height: 40px;
    border: none;
    padding: 5px 10px 5px 53px;
}
#footer-email-btn   {
    width: 16.5em;
    height: 50px;
    background-image: linear-gradient(75deg, #8BB7E6, #5D7CC5);
    color: #ffff;
    border-radius: 7px;
    border: none;
    margin-top: 15px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 5px 10px 2px rgba(88  103 221 / 19% );
}
#footer-email-btn:hover {
    color: #d2d7e2;
}
.register-for-newsletter svg {
    position: absolute;
    top: 230px;
    left: 88em;
}
.icons  {
    margin-top: 15px;
}
/*.content {
    display: flex;
}*/